@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
	margin: 0;
	padding: 0;
}
/*--HOME--*/
.fondo1{
	background-image: url('../imagenes/wallpaper.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	height: 100vh;
}
.fondo2{
	background-image: url('../imagenes/wallpaper2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	height: 100vh;
}
.fondo3{
	background-image: url('../imagenes/wallpaper3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	height: 100vh;
	}
.fondo4{
	background-image: url('../imagenes/wallpaper4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	height: 100vh;
}	
.fondo5{
	background-image: url('../imagenes/wallpaper5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	height: 100vh;
}
#header{
	color: white;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Tapestry', cursive;
	text-align: center;
	background-image: url('../imagenes/wallpaper0.jpg');
	width: 100%;
	height: 120px;
}

.menu li{
	text-align: center;
	display: inline-block;
	margin-top: 1% ;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-left: 10%;
	border: 10px double;
	padding: 1px;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	background-color: gray;
}
.list{
	background-image: url('../imagenes/wallpaperbarra.jpg');
}
.zoomin{
	
	overflow: hidden;
}
@keyframes zoom{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.2);
	}
}
.zoomin:hover img{
	animation-name: zoom;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 7s;
	animation-delay: 0;
	animation-fill-mode: forwards;

}
.zoomin:hover iframe{
	animation-name: zoom;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 7s;
	animation-delay: 0;
	animation-fill-mode: forwards;
	
}
.img{
	text-align: center;
	display: inline-block;
	margin-left: 35%;
	margin-right: 25%
}
.centrar{
	text-align: center;
	display: inline-block;
	margin-left: 35%;
	margin-right: 25%
}
.text{
	color: blue;
	background-color: beige;
	font-size: 25px;
	font-weight: 400;
	font-family: 'Tapestry', cursive;
	width: 800px;
	height: 180px;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 10%;
	margin-left: 29%;
	border: 10px solid;
	padding-bottom: 0%;
}
.text1{
	color: white;
	background-color: black;
	font-size: 25px;
	font-weight: 400;
	font-family: 'Tapestry', cursive;
	width: 800px;
	height: 100px;
	text-align: center;
	margin-top: 1%;
	margin-right: 10%;
	margin-left: 29%;
	border: 10px solid;
	border-color: red;
}
.text2{
	color: white;
	background-color: ;
	font-size: 25px;
	font-weight: 400;
	font-family: 'Tapestry', cursive;
	width: 800px;
	height: 100px;
	text-align: center;
	margin-top: 1%;
	margin-right: 5%;
	margin-left: 5%;
}
.video{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 20%;
	margin-left: 36%;
}
.boton{
	color: green;
}
.footer{
	margin-top: 500px;
}
.titulos{
	display: inline-block;
	background-color: magenta;
	color: #fff;
	padding: 8px 19px 3px;
	font-family: 'Tapestry', cursive;
}
.subtitulos{
	color: blue;
	background-color: beige;
	font-size: 30px;
	font-weight: 400;
	font-family: 'Tapestry', cursive;
	width: 400px;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 40%;
	margin-left: 40%;
	border: 10px solid;
}
.listype{
	list-style-type: none;
}